<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stats list</title>
    <script type = "text/javascript" th:src="@{/js/jquery.js}"></script>
</head>
<body>
<h1>Output</h1>
<br>
<tr th:each="stats: ${statisticsMap}">
    <td><span th:text = "${stats.key} + ' : '" th:id="key"/><span th:text=" ${stats.value}" th:id="value"/></td>
    <br><br>
</tr>
<br>
<h2>Input</h2>
    <form method="post" onsubmit="return check();">
    <input type="text" name="payload" id="payload"/>
    <br><br>
    <button type = "submit" id ="prc">Proceed</button>
    </form>
<script type = "text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>